.App{
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.planet1 {
  background-image: url('/public/images/planet1.jpg')
}

.planet2 {
  background-image:url('/public/images/planet2.jpg')
}

.planet3 {
  background-image: url('/public/images/planet3.jpg')
}

.planet4 {
  background-image: url('/public/images/planet4.jpg')
}