.App {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.planet1 {
  background-image: url("/images/planet1.jpg");
}

.planet2 {
  background-image: url("/images/planet2.jpg");
}

.planet3 {
  background-image: url("/images/planet3.jpg");
}

.planet4 {
  background-image: url("/images/planet4.jpg");
}
